@media(max-width: 768px){
    body{
        background-position: center;
        padding: 0 15px;
    }

    .slider{
        gap: 10px;
    }
}

@media(max-width: 496px){
    .lista-personagens{
        width: 250px;
    }

    .imagem-carta{
        width: 100%;
    }

    .titulo img{
        max-width: 353px;
        position: relative;
        justify-content: center;
    }

    .slider{
        position: relative;
    }

    .btn-seta.btn-voltar{
        position: absolute;
        bottom: -15%;
        left: 20%;
    }

    .btn-seta.btn-avancar{
        position: absolute;
        bottom: -15%;
        right: 20%;
    }

    @media(max-height: 670px){
        body{
            padding-top: 10px;
            gap: 10px;
        }
    }

    .btn-seta.btn-voltar{
        position: absolute;
        bottom: -12%;
        left: 20%;
    }

    .btn-seta.btn-avancar{
        position: absolute;
        bottom: -12%;
        right: 20%;
    }
}